#### Ciência de Dados com Python/IA - SENAI-DF - Vespertino - 05/08/2024 - Marcelo Pereira Avelino

In [ ]:
# Bibliotecas Necessárias
! pip install pymysql
! pip install SQLAlchemy

In [16]:
# Importação de Bibliotecas
import pandas as pd
import urllib.parse 
# Módulo
from sqlalchemy import create_engine

In [17]:
# Defina as credenciais do banco de dados - Conexão estabelecida no MySQL
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'  # ou o endereço do seu servidor de banco de dados
database = 'projetodiario'

# Crie uma URL de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# Crie um engine do SQLAlchemy
engine = create_engine(connection_string)

# Escreva sua consulta SQL
query_alunos = "SELECT * FROM aluno"

# Use pandas para executar a consulta e importar os dados
df_alunos = pd.read_sql(query_alunos, engine)

# Mostre os primeiros registros do DataFrame
df_alunos.head()

   id        ra  nome  tempoestudo  rendafamiliar
0   1  00169506  None          NaN            NaN
1   2  00034548  None          NaN            NaN
2   3  00034549  None          NaN            NaN
3   4  00034550  None          NaN            NaN
4   5  00034551  None          NaN            NaN

`1. Quais bibliotecas um cientista de dados utiliza?`

- Pandas
- Numpy
- Fundamentos de IA (Scikit-Learn)

`2. Material Didático`

- Material Didático
- Pandas e Numpy (Notebook)
- Scikit-Learn (Apostila de SENAI)

- Material Auxiliar p/ Baixar https://estantedelivros.senai.br/view/1KkZK79kUJ_c09l3bYfxGhTEvALHlLNnA

- Pandas : Ciência de Dados
- Sckit-Learn : Elaboração de modelos de IA
- Numpy : Matemática

In [18]:
# Carregar Dados - Use pandas para executar a consulta e importar os dados
df_alunos = pd.read_sql(query_alunos, engine)

In [40]:
# Mostre os primeiros registros do DataFrame
df_alunos.head()

   id        ra  nome  tempoestudo  rendafamiliar
0   1  00169506  None          NaN            NaN
1   2  00034548  None          NaN            NaN
2   3  00034549  None          NaN            NaN
3   4  00034550  None          NaN            NaN
4   5  00034551  None          NaN            NaN

In [27]:
# Salvar um dataframe no formato CSV
csv_filename = 'alunos.csv'
df_alunos.to_csv(csv_filename,index=False)

In [29]:
# Salvar um dataframe no formato JSON
csv_filename = 'alunosjson.json'
df_alunos.to_json(csv_filename,index=False)

In [ ]:
# Necessário para gerar o arquivo em Excel no código
! pip install openpyxl

In [33]:
# Salvar um dataframe no formato Excel
csv_filename = 'alunosexcel.xlsx'
df_alunos.to_excel(csv_filename,index=False)

In [35]:
# Exibindo as colunas do dataframe Alunos
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [ ]:
# Exibindo colunas especificas do dataframe Alunos
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda

In [39]:
# Tipos
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

In [43]:
# Exercicio - Crie recurso para mostrar apenas uma coluna. Mostre qual tipo desse recurso.

df_ra = df_alunos['ra']
df_ra

0     00169506
1     00034548
2     00034549
3     00034550
4     00034551
5     00034552
6     00034553
7     00034554
8     00034555
9     00034556
10    20230001
11    20230002
12    20230003
13    20230004
14    20230005
15    20230006
16    20230007
17    20230008
18    20230009
19    20230010
20    20230011
21    20230012
22    20230013
23    20230014
24    20230015
25    20230016
26    20230017
27    20230018
28    20230019
29    20230020
30    20230021
31    20230022
32    20230023
33    20230024
34    20230025
35    20230026
36    20230027
37    20230028
38    20230029
39    20230030
40    20230031
41    20230032
42    20230033
43    20230034
44    20230035
45    20230036
46    20230037
47    20230038
48    20230039
49    20230040
50    20230041
51    20230042
52    20230043
53    20230044
54    20230045
55    20230046
56    20230047
57    20230048
58    20230049
Name: ra, dtype: object

In [42]:
print(type(df_ra))

<class 'pandas.core.series.Series'>