#### Ciência de Dados com Python/IA - SENAI-DF - Vespertino - 05/08/2024 - Marcelo Pereira Avelino

In [1]:
## Biblioteca Necessárias - Instale as bibliotecas necessárias para executar o notebook:
! pip install pymysql
! pip install SQLAlchemy

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Requirement already satisfied: SQLAlchemy in c:\users\marcelo avelino\appdata\local\programs\python\python312\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\marcelo avelino\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\marcelo avelino\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (3.0.3)

In [2]:
# Importação de Bibliotecas - Bibliotecas necessárias para a execução dos comandos SQL e manipulação de dados:
import pandas as pd
import urllib.parse
from sqlalchemy import create_engine

In [4]:
# Definindo a Conexão com o Banco de Dados - Configurando a conexão com o banco de dados MySQL:
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'  # ou o endereço do seu servidor de banco de dados
database = 'projetodiario'

# Crie uma URL de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# Crie um engine do SQLAlchemy
engine = create_engine(connection_string)

In [5]:
# Consultando Dados da Tabela 'Aluno'
# Escreva sua consulta SQL para obter dados da tabela 'Aluno' e carregue os dados em um DataFrame:

# Escreva sua consulta SQL
query_alunos = "SELECT * FROM aluno"

# Use pandas para executar a consulta e importar os dados
df_alunos = pd.read_sql(query_alunos, engine)

# Mostre os primeiros registros do DataFrame
df_alunos.head()

   id        ra             nome  tempoestudo  rendafamiliar
0   1  00169506  Marcelo Avelino            6        2500.50
1   2  00034548        Ana Silva            5        3000.75
2   3  00034549      Bruno Costa            4        2000.00
3   4  00034550   Carlos Pereira            7        3500.20
4   5  00034551    Daniela Souza            3        1500.40

#### Salvando os Dados em Diferentes Formatos

In [6]:
# CSV
csv_filename = 'alunos.csv'
df_alunos.to_csv(csv_filename, index=False)

In [7]:
# JSON
json_filename = 'alunos.json'
df_alunos.to_json(json_filename, index=False)

In [9]:
# Salvar DataFrame no Formato Excel
# Instale a biblioteca openpyxl necessária para salvar arquivos Excel:
! pip install openpyxl

excel_filename = 'alunos.xlsx'
df_alunos.to_excel(excel_filename, index=False)

Requirement already satisfied: openpyxl in c:\users\marcelo avelino\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\marcelo avelino\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

In [10]:
# Exibir as Colunas do DataFrame 'Alunos'
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [11]:
# Exibir Colunas Específicas do DataFrame
df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliar']]
df_tempo_renda.head()

   tempoestudo  rendafamiliar
0            6        2500.50
1            5        3000.75
2            4        2000.00
3            7        3500.20
4            3        1500.40

In [12]:
# Verificar o Tipo de Dados das Colunas
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

In [13]:
# Criando um DataFrame com apenas uma coluna e verifique o tipo de dados:
df_ra = df_alunos['ra']
df_ra.head()

print(type(df_ra))

<class 'pandas.core.series.Series'>

`1. Quais Bibliotecas um Cientista de Dados Utiliza?`

Algumas das bibliotecas mais usadas por cientistas de dados:

- Pandas
- Numpy
- Fundamentos de IA (Scikit-Learn)

`2. Material Didático`

- Pandas e Numpy (Notebook)
- Scikit-Learn (Fundamentos de IA)
- Material Auxiliar: https://estantedelivros.senai.br/view/1KkZK79kUJ_c09l3bYfxGhTEvALHlLNnA


`3. Material Didático`
- Pandas : Ciência de Dados
- Sckit-Learn : Elaboração de modelos de IA
- Numpy : Matemática


### Observações:

1. **Bibliotecas Necessárias**: No início do notebook, foi incluído o comando para instalar as bibliotecas necessárias.
2. **Importação de Bibliotecas**: Importações de pandas, urllib e sqlalchemy.
3. **Definindo a Conexão com o Banco de Dados**: Configuração de conexão usando SQLAlchemy.
4. **Consultando Dados da Tabela 'Aluno'**: Consulta SQL para obter os dados da tabela `aluno` e carregar em um DataFrame.
5. **Salvando os Dados em Diferentes Formatos**: Inclui comandos para salvar o DataFrame nos formatos CSV, JSON e Excel.
6. **Exibindo Informações do DataFrame**: Comandos para exibir colunas específicas e tipos de dados.
7. **Exercício**: Criação de um DataFrame com uma única coluna e verificação do tipo de dados.
8. **Informações Adicionais**: Inclui bibliotecas usadas por cientistas de dados e material didático.