#### Ciência de Dados com Python/IA - SENAI-DF - Vespertino - 06/08/2024 - Marcelo Pereira Avelino

*`A execução do código das próximas 3 (três) células é necesária para dar continuidade a aula de hoje.`*

In [5]:
# 1. Importação de Bibliotecas - Bibliotecas necessárias para a execução dos comandos SQL e manipulação de dados:
import pandas as pd
import urllib.parse
from sqlalchemy import create_engine

In [6]:
# 2. Definindo a Conexão com o Banco de Dados - Configurando a conexão com o banco de dados MySQL:
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'  # ou o endereço do seu servidor de banco de dados
database = 'projetodiario'

# Crie uma URL de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# Crie um engine do SQLAlchemy
engine = create_engine(connection_string)

In [7]:
# 3. Escreva sua consulta SQL
query_alunos = "SELECT * FROM aluno"

# Use pandas para executar a consulta e importar os dados
df_alunos = pd.read_sql(query_alunos, engine)

# Mostre os primeiros registros do DataFrame
df_alunos.head()

   id        ra             nome  tempoestudo  rendafamiliar
0   1  00169506  Marcelo Avelino          6.0        2500.50
1   2  00034548        Ana Silva          5.0        3000.75
2   3  00034549      Bruno Costa          4.0        2000.00
3   4  00034550   Carlos Pereira          7.0        3500.20
4   5  00034551    Daniela Souza          3.0        1500.40

In [8]:
# Retorne o DataFrame da última aula com as duas primeiras linhas como amostras.

df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliar']]
df_tempo_renda.head(2)

   tempoestudo  rendafamiliar
0          6.0        2500.50
1          5.0        3000.75

In [9]:
# Retorne o DataFrame da última aula com as duas últimas linhas como amostras.

df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliar']]
df_tempo_renda.tail(2)

    tempoestudo  rendafamiliar
28          NaN            NaN
29          NaN            NaN

In [10]:
# Retorne o DataFrame da última aula e apresente uma tupla com números de linhas e colunas.
df_tempo_renda.shape
# Shape é um método/Function.

(30, 2)

In [11]:
# Retorne o DataFrame da última aula e apresente todas as informações gerais do DataFrame
df_tempo_renda.info()
# 'info()' = Método/Function

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tempoestudo    20 non-null     float64
 1   rendafamiliar  20 non-null     float64
dtypes: float64(2)
memory usage: 612.0 bytes

In [12]:
# Retorne o DataFrame da última aula e verifique a quantidade de registros
# `df_tempo_renda` é o DataFrame retornado anteriormente, contendo as colunas 'tempoestudo' e 'rendafamiliar'
qtde = len(df_tempo_renda)  # Conta o número de registros (linhas) no DataFrame

# Verifica se a quantidade de registros é menor ou igual a 20
if qtde <= 20:
    print(f"Quantidade: {qtde} dentro do ideal.")  # Se for, imprime uma mensagem indicando que a quantidade está dentro do ideal.

In [13]:
# Retorne o DataFrame da última aula e retorne as colunas.
# Aqui estamos assumindo que 'df_tempo_renda' é um DataFrame já carregado com os dados de interesse.
# O método 'columns' do DataFrame retorna uma lista com os nomes das colunas do DataFrame.
df_tempo_renda.columns

Index(['tempoestudo', 'rendafamiliar'], dtype='object')

In [10]:
# Retorne o DataFrame da última aula e retorne informações apenas da coluna rendafamiliar
# Aqui estamos assumindo que 'df_tempo_renda' é um DataFrame já carregado com os dados de interesse.
# Selecionamos a coluna 'rendafamiliar' do DataFrame 'df_tempo_renda' utilizando a notação de colchetes.
# O método 'info()' fornece informações sobre o DataFrame, como o número de entradas, o tipo de dados, e se há valores nulos.
# No caso de uma única coluna, 'info()' retornará informações específicas dessa coluna.
df_tempo_renda['rendafamiliar'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 30 entries, 0 to 29
Series name: rendafamiliar
Non-Null Count  Dtype
--------------  -----
20 non-null     float64
dtypes: float64(1)
memory usage: 372.0 bytes

In [11]:
# Mostre os tipos de dados com dtypes do DataFrame 'df_alunos'

# A linha de código abaixo retorna os tipos de dados de cada coluna no DataFrame 'df_alunos'.
# O atributo 'dtypes' do DataFrame fornece uma série com o nome da coluna como índice e o tipo de dados da coluna como valor.
df_alunos.dtypes

# Resultado esperado:
# A execução deste comando irá produzir uma saída similar à seguinte:
#
# id               int64
# ra              object
# nome            object
# tempoestudo      int64
# rendafamiliar  float64
# dtype: object
#
# Esta saída mostra os tipos de dados de cada coluna no DataFrame 'df_alunos':
# - 'id' é do tipo int64 (inteiro de 64 bits).
# - 'ra' e 'nome' são do tipo object, que é geralmente usado para strings.
# - 'tempoestudo' é do tipo int64.
# - 'rendafamiliar' é do tipo float64 (número de ponto flutuante de 64 bits).

id                 int64
ra                object
nome              object
tempoestudo      float64
rendafamiliar    float64
dtype: object

In [15]:
# Estatística descritiva do DataFrame 'df_alunos'

# A linha de código abaixo gera estatísticas descritivas do DataFrame 'df_alunos'.
# O método 'describe()' do DataFrame retorna uma tabela com estatísticas resumidas
# das colunas numéricas, como contagem, média, desvio padrão, valores mínimo e máximo,
# e os quartis (25%, 50%, e 75%).

df_alunos.describe()

# Resultado esperado:
# A execução deste comando irá produzir uma saída similar à seguinte:
#
#               id  tempoestudo  rendafamiliar
# count  20.000000    20.000000      20.000000
# mean   10.500000     5.500000    2750.375000
# std     5.916080     1.581139     738.627760
# min     1.000000     3.000000    1500.400000
# 25%     5.750000     4.000000    2300.000000
# 50%    10.500000     5.500000    2700.300000
# 75%    15.250000     7.000000    3100.175000
# max    20.000000     8.000000    4200.400000
#
# Esta saída mostra as seguintes estatísticas para as colunas numéricas do DataFrame 'df_alunos':
# - 'id': O identificador único do aluno.
# - 'tempoestudo': O tempo de estudo do aluno.
# - 'rendafamiliar': A renda familiar do aluno.
#
# Para cada coluna numérica, as seguintes estatísticas são fornecidas:
# - count: O número de valores não nulos.
# - mean: A média dos valores.
# - std: O desvio padrão dos valores.
# - min: O valor mínimo.
# - 25%: O primeiro quartil (25% dos dados são menores que este valor).
# - 50%: O segundo quartil ou mediana (50% dos dados são menores que este valor).
# - 75%: O terceiro quartil (75% dos dados são menores que este valor).
# - max: O valor máximo.

              id  tempoestudo  rendafamiliar
count  30.000000    20.000000      20.000000
mean   15.500000     5.400000    2715.407500
std     8.803408     1.500877     699.179489
min     1.000000     3.000000    1500.400000
25%     8.250000     4.000000    2275.175000
50%    15.500000     5.000000    2650.400000
75%    22.750000     6.250000    3025.587500
max    30.000000     8.000000    4200.400000

*`Exercicio Avaliativo - DataFrame 'pd_diariobordo'`*

- Crie o cenário de utilização de recursos considerando a tabela 'diariobordo'

In [16]:
# Realizando a consulta SQL na  tabela diariobordo
query_diariobordo = "SELECT * from diariobordo"

In [17]:
# Criando o dataframe conforme consulta realizada
df_diariobordo = pd.read_sql(query_diariobordo,engine)

In [18]:
# Mostrando os cinco primeiros registros do DataFrame df_diariobordo
df_diariobordo.head(5)

   id                       texto            datahora  fk_aluno_id
0   1        Introdução ao Python 2024-07-31 09:00:00            1
1   2  Variáveis e Tipos de Dados 2024-08-01 10:00:00            2
2   3      Estruturas de Controle 2024-08-02 11:00:00            3
3   4           Funções e Módulos 2024-08-03 12:00:00            4
4   5         Introdução ao NumPy 2024-08-04 13:00:00            5

In [19]:
# Mostrando os cinco últimos registros do DataFrame df_diariobordo
df_diariobordo.tail(5)

    id                   texto            datahora  fk_aluno_id
15  16        Análise de Dados 2024-08-15 14:00:00           16
16  17  Prática de Programação 2024-08-16 15:00:00           17
17  18      Discussão em Grupo 2024-08-17 16:00:00           18
18  19    Pesquisa de História 2024-08-18 17:00:00           19
19  20   Exercício de Biologia 2024-08-19 18:00:00           20

In [20]:
# Retorne o DataFrame da última aula e apresente uma tupla com números de linhas e colunas.
df_diariobordo.shape

(20, 4)

In [21]:
# Retorne o DataFrame da última aula e retorne as colunas.
df_diariobordo.columns

Index(['id', 'texto', 'datahora', 'fk_aluno_id'], dtype='object')

In [22]:
# Gerando um CSV do dataframe 'df_diariobordo'
csv_filename = 'diario.csv'
df_diariobordo.to_csv(csv_filename, index=False)

*`Exercicio Avaliativo - DataFrame 'pd_avaliacao'`*

- Crie o cenário de utilização de recursos considerando a tabela 'avaliacao'

In [23]:
# Realizando a consulta SQL na  tabela diariobordo
query_avaliacao = "SELECT * from avaliacao"

In [24]:
# Criando o dataframe conforme consulta realizada
df_avaliacao = pd.read_sql(query_avaliacao,engine)

In [25]:
# Gerando um CSV do dataframe 'df_avaliacao'
csv_filename = 'avaliacao.csv'
df_avaliacao.to_csv(csv_filename, index=False)

In [26]:
# Mostrando os 10 últimos registros do DataFrame df_diariobordo
df_avaliacao.tail(10)

    id  nota1  nota2  nota3  nota4  fk_aluno_id
10  11     65     70     75     80           11
11  12     85     88     82     85           12
12  13     70     72     68     75           13
13  14     92     93     89     90           14
14  15     83     85     80     82           15
15  16     79     78     74     76           16
16  17     88     90     85     87           17
17  18     74     77     70     73           18
18  19     91     89     87     88           19
19  20     85     87     82     84           20

In [27]:
# Retorne o DataFrame da última aula e apresente uma tupla com números de linhas e colunas.
df_avaliacao.shape

(20, 6)

In [28]:
# Retorne o DataFrame 'df_avaliacao' e retorne as colunas.
df_avaliacao.columns

Index(['id', 'nota1', 'nota2', 'nota3', 'nota4', 'fk_aluno_id'], dtype='object')

In [29]:
# Informa a quantidade de registros na tabela 'df_avaliacao'
len(df_avaliacao)

20

In [30]:
# Apresente todas as informações gerais do DataFrame
df_avaliacao.info()
# 'info()' = Método/Function

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   nota1        20 non-null     int64
 2   nota2        20 non-null     int64
 3   nota3        20 non-null     int64
 4   nota4        20 non-null     int64
 5   fk_aluno_id  20 non-null     int64
dtypes: int64(6)
memory usage: 1.1 KB

In [31]:
# Fatiamento

# O código abaixo realiza uma operação de fatiamento no DataFrame 'df_avaliacao'.
# Fatiamento é uma técnica usada para selecionar uma faixa contínua de linhas de um DataFrame.

# O comando 'df_avaliacao[5:10]' seleciona as linhas do DataFrame 'df_avaliacao' 
# começando da linha de índice 5 até, mas não incluindo, a linha de índice 10.
# Em outras palavras, ele retorna as linhas de índice 5, 6, 7, 8 e 9.

df_avaliacao[5:10]

# Resultado esperado:
# A execução deste comando irá produzir uma saída similar à seguinte, considerando 
# que 'df_avaliacao' tem dados e colunas como 'id', 'nota1', 'nota2', 'nota3', 'nota4', 'fk_aluno_id

   id  nota1  nota2  nota3  nota4  fk_aluno_id
5   6     80     85     70     75            6
6   7     78     82     79     84            7
7   8     88     89     85     87            8
8   9     77     74     80     82            9
9  10     90     91     86     88           10

In [ ]:
-- JOIN IN PANDAS
-- Consulta realizada

SELECT
	d.texto,
    d.datahora,
    a.ra
    FROM
    diariobordo d
	JOIN
	aluno a
    ON d.fk_aluno_id = a.id;

    /*
    `VAMOS FAZER UM JOIN?`

#### Passos para o 'Merge
- Use o comando 'merge' 
- Crie uma variável 'resultado'
- pd.merge(dataframe1,dataframe2,tipo_união,qual chave da esquerda, qual chave da direita) = resultado = pd.merge(df_diariobordo,df_alunos, how='left', left_on='fk_aluno_id', right_on='id')
- qual o tipo de união: how='inner'
- Inner significa que queremos um join interno, o que resulta em apenas as linha que tem corcorrespondencia em ambos os dataframes.
/*

In [34]:
# EXEMPLO DE JOIN

# O método pd.merge() é usado para combinar dois DataFrames com base em uma ou mais colunas chave.
# Aqui, estamos combinando 'df_diariobordo' e 'df_alunos' usando um 'left join'.
# 'left join' significa que todas as linhas do DataFrame 'df_diariobordo' serão mantidas e os dados correspondentes do DataFrame 'df_alunos' serão adicionados com base na chave de junção.

# 'left_on' especifica a coluna no DataFrame da esquerda (df_diariobordo) que será usada como chave de junção.
# 'right_on' especifica a coluna no DataFrame da direita (df_alunos) que será usada como chave de junção.
# Aqui, estamos unindo com base na chave estrangeira 'fk_aluno_id' de 'df_diariobordo' e 'id' de 'df_alunos'.
resultado = pd.merge(df_diariobordo, df_alunos, how='left', left_on='fk_aluno_id', right_on='id')

In [35]:
# Selecionar as colunas desejadas
# Após a junção, o DataFrame 'resultado' terá todas as colunas de ambos os DataFrames.
# Aqui, estamos selecionando apenas as colunas 'texto', 'datahora' de 'df_diariobordo' e 'ra' de 'df_alunos' para simplificar a visualização.
resultado_selecionado = resultado[['texto', 'datahora', 'ra']]

In [36]:
# Mostrar o resultado
# Exibe as primeiras linhas do DataFrame resultante 'resultado_selecionado' para ver a saída da junção.
resultado_selecionado.head()

                        texto            datahora        ra
0        Introdução ao Python 2024-07-31 09:00:00  00169506
1  Variáveis e Tipos de Dados 2024-08-01 10:00:00  00034548
2      Estruturas de Controle 2024-08-02 11:00:00  00034549
3           Funções e Módulos 2024-08-03 12:00:00  00034550
4         Introdução ao NumPy 2024-08-04 13:00:00  00034551

In [37]:
# Exercicio Avaliativo - Criar a Junção do Dataframe 'df_aluno' com o DataFrame 'df_avaliacao'. Apresentando as notas e o RA do Aluno ao final.

# DataFrame 'aluno' = df_alunos | DataFrame 'avaliacao' = df_avaliacao

# Realizar a junção (join) que será feita usando a coluna 'id' de 'df_alunos' e a coluna 'fk_aluno_id' de 'df_avaliacao'
resultado = pd.merge(df_avaliacao, df_alunos, how='inner', left_on='fk_aluno_id', right_on='id')

In [38]:
# Selecionar as colunas desejadas: RA e notas
resultado_exercicio = resultado[['nota1', 'nota2', 'nota3', 'nota4', 'ra']]

In [39]:
# Mostrar o resultado
resultado_selecionado.head(20)

                                   texto            datahora        ra
0                   Introdução ao Python 2024-07-31 09:00:00  00169506
1             Variáveis e Tipos de Dados 2024-08-01 10:00:00  00034548
2                 Estruturas de Controle 2024-08-02 11:00:00  00034549
3                      Funções e Módulos 2024-08-03 12:00:00  00034550
4                    Introdução ao NumPy 2024-08-04 13:00:00  00034551
5        Manipulação de Dados com Pandas 2024-08-05 14:00:00  00034552
6   Visualização de Dados com Matplotlib 2024-08-06 15:00:00  00034553
7         Introdução ao Machine Learning 2024-08-07 16:00:00  00034554
8           Redes Neurais com TensorFlow 2024-08-08 17:00:00  00034555
9                    Projeto Final de IA 2024-08-09 18:00:00  00034556
10                  Estudo de Algoritmos 2024-08-10 09:00:00  00034557
11                 Revisão de Matemática 2024-08-11 10:00:00  00034558
12                     Projeto de Física 2024-08-12 11:00:00  00034559
13                 Leitura de Literatura 2024-08-13 12:00:00  00034560
14                Experimento de Química 2024-08-14 13:00:00  00034561
15                      Análise de Dados 2024-08-15 14:00:00  00034562
16                Prática de Programação 2024-08-16 15:00:00  00034563
17                    Discussão em Grupo 2024-08-17 16:00:00  00034564
18                  Pesquisa de História 2024-08-18 17:00:00  00034565
19                 Exercício de Biologia 2024-08-19 18:00:00  00034566