#### Semana de Ci√™ncia de Dados com Python/IA - SENAI-DF - Vespertino - 23/07/2024 - Marcelo Pereira Avelino
##### üìù Orienta√ß√£o a Objetos


`Aspectos B√°sicos da Orienta√ß√£o a Objetos em Python`

In [13]:
# Definindo uma Classe

class Mamifero:  # Define a classe Mamifero, que √© um grupo de objetos semelhantes.
                 # Nesse caso, a classe Mamifero √© um conjunto de seres de costumes semelhantes.
    
    # O m√©todo __init__ √© um construtor que √© chamado quando um objeto da classe √© criado.
    def __init__(self, nome_popular, idade, cor):  # self representa a inst√¢ncia atual da classe, permitindo acessar os atributos e m√©todos da classe.
                                                  # nome_popular, idade e cor s√£o par√¢metros que ser√£o usados para inicializar os atributos do objeto.
        self.nome_popular = nome_popular  # Atribui o valor do par√¢metro nome_popular ao atributo nome_popular da inst√¢ncia.
        self.idade = idade  # Atribui o valor do par√¢metro idade ao atributo idade da inst√¢ncia.
        self.cor = cor  # Atribui o valor do par√¢metro cor ao atributo cor da inst√¢ncia.
   
    def mamar(self):  # Define um m√©todo chamado mamar, que representa uma a√ß√£o que o mam√≠fero pode realizar.
        return "mamando ..."  # Retorna a string "mamando ..."

    def chorar(self):  # Define um m√©todo chamado chorar, que representa uma a√ß√£o que o mam√≠fero pode realizar.
        return "chorando ..."  # Retorna a string "chorando ..."

In [ ]:
# Criando o objeto, que √© uma inst√¢ncia de uma classe.

objeto = Mamifero(nome_popular="Ornitorrinco", idade=17, cor="Caramelo") Criando um objeto que chama um construtor que chama dois valores, idade e cor.

In [ ]:
objeto.chorar()

In [ ]:
objeto.nome_popular

- Classe Mamifero: A classe Mamifero √© um modelo para criar objetos que representam mam√≠feros, com caracter√≠sticas comuns como nome popular, idade e cor.

- Construtor __init__: O m√©todo __init__ √© chamado automaticamente quando uma nova inst√¢ncia da classe √© criada. Ele inicializa os atributos do objeto (nome_popular, idade e cor) com os valores fornecidos quando o objeto √© criado.

- Atributos: 
    - self.nome_popular: Armazena o nome popular do mam√≠fero.
    - self.idade: Armazena a idade do mam√≠fero.
    - self.cor: Armazena a cor do mam√≠fero.

- M√©todos:
    - mamar: Um m√©todo que simula a a√ß√£o de mamar do mam√≠fero.
    - chorar: Um m√©todo que simula a a√ß√£o de chorar do mam√≠fero.

Arquivo de Exemplo: Aspectos B√°sicos da Orienta√ß√£o a Objetos em Python

Este arquivo apresenta os aspectos b√°sicos da orienta√ß√£o a objetos em Python.

1. Definindo uma Classe
2. M√©todo __init__
3. M√©todos em uma Classe
4. Atributos de Inst√¢ncia
5. Utilizando a Refer√™ncia 'self'

**O que √© uma classe?**
```py
class Imovel:
    def __init__(self,preco):
        self.preco = preco
        
    def alugar(self):
        return 'aluguei!'
```

In [ ]:

# 1. Definindo uma Classe
class Pessoa:
    pass  # 'pass' √© usado para indicar que a classe est√° vazia, mas voc√™ pode adicionar membros posteriormente


# 2. M√©todo __init__
class Carro:
    def __init__(self, modelo, ano):
        self.modelo = modelo
        self.ano = ano


# 3. M√©todos em uma Classe
class Cachorro:
    def latir(self):
        return "Woof!"


# 4. Atributos de Inst√¢ncia
class Aluno:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade


# 5. Utilizando a Refer√™ncia 'self'
class Circulo:
    pi = 3.14  # Atributo de Classe

    def __init__(self, raio):
        self.raio = raio  # Atributo de Inst√¢ncia

    def calcular_area(self):
        return self.pi * (self.raio ** 2)


# Exemplos de Uso
if __name__ == "__main__":
    # 1. Definindo uma Classe
    pessoa = Pessoa()

    # 2. M√©todo __init__
    carro = Carro(modelo="Civic", ano=2022)

    # 3. M√©todos em uma Classe
    cachorro = Cachorro()
    print(cachorro.latir())

    # 4. Atributos de Inst√¢ncia
    aluno = Aluno(nome="Maria", idade=25)
    print(f"Nome: {aluno.nome}, Idade: {aluno.idade}")

    # 5. Utilizando a Refer√™ncia 'self'
    circulo = Circulo(raio=5)
    area = circulo.calcular_area()
    print(f"√Årea do c√≠rculo: {area}")

Qual a diferen√ßa entre Series e DataFrames?

- Series √© um objeto array unidimensional
- Dataframe √© uma matriz bidimensional rotulada, ou seja, para a qual podem ser atribu√≠dos r√≥tulos (nomes)  aos seus atributos (colunas) e indices n√∫mericos √†s suas linhas.

### Retornando ao dataset aluguel.csv

In [1]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\python-ia-senai-df\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\python-ia-senai-df\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl (16.3 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [2]:
# Importa a biblioteca pandas e define o alias 'pd'
import pandas as pd

In [3]:
# A fun√ß√£o pd.read_csv(url) l√™ o arquivo CSV e transforma-o em um DataFrame
url = "dataset/aluguel.csv"
pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Bot√¢nico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higien√≥polis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepagu√°;3;1;2;78;1800;800;40
32957  Apartamento;S√£o Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [4]:
# Exibindo o conte√∫do do DataFrame 'dados'
df = pd.read_csv(url)

In [17]:
dados = pd.read_csv(url,sep=";")

In [5]:
# Exerc√≠cio - Considere uma lista de anos de lan√ßamento de um im√≥vel. Insira os valores em Series

lancamentos = pd.Series([2024,2025,2026,2027])
lancamentos

0    2024
1    2025
2    2026
3    2027
dtype: int64

In [6]:
# Exerc√≠cio - Crie series com dicion√°rio

lancamentos = pd.Series({'jan':2024,'fev':2025,'mar':2026,'abr':2027})
lancamentos

jan    2024
fev    2025
mar    2026
abr    2027
dtype: int64

In [ ]:
# Mostre 23 registros no cabe√ßalho
df.head(23)

In [ ]:
# Mostre o final do DataFrame
df.tail()

In [9]:
# Exerc√≠cio - Como examinar a quantidade de linhas do dataframe?

# antes vamos ver o tipo
df.dtypes

Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU    object
dtype: object

In [10]:
# vamos ver quantidade de linhas do dataframe
len(df)

32960

In [18]:
# Acesse apenas a coluna Suites

dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [ ]:
df.IPTU[2:5]

In [ ]:
df['Valor'].mean()

`N√≠vel 2`

Trelo -> Fundamentos Pandas -> An√°lise explorat√≥rio dos dados
- Calcular valores m√©dios de aluguel por tipo de im√≥vel

In [ ]:
df.groupby('Tipo')['Valor'].mean()

In [ ]:
df.groupby('Tipo').mean(numeric_only=True)

In [ ]:
pesquisa_tipo = df.groupby('Tipo')['Valor']

In [ ]:
df.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

# O segredo para transformar em dataframe foi colocar mais um colchete.

`Matplotlib`

- Bilioteca para visualiza√ß√£o de dados por meio de gr√°ficos.

In [ ]:
! pip install matplotlib

In [ ]:
df_valor_tipo = df.groupby('Tipo')[['Valor']].mean().sort_values('Valor')
# df_valor_tipo.plot(tipo,tamanho,cor)

df_valor_tipo.plot(kind='barh',figsize=(14,10),color'purple')
'''
bar = vertical
barh = horizontal
figsize=(14,10) em polegadas. Pra trabalhar em pixels, vc multiplica o valor de polegadaspor 100


amanh√£ em aula retornaremos para atender ao post it da ativiade do trello
'''