#### Semana de Ci√™ncia de Dados com Python/IA - SENAI-DF - Vespertino - 25/07/2024 - Marcelo Pereira Avelino

---
##### üìù `Compet√™ncias Pandas`

- 1. Entender as fun√ß√µes b√°sicas
- 2. Utilizar as fun√ß√µes b√°sicas
- 3. Renomear colunas
- 4. Selecionar colunas e linhas
- 5. Adicionar e remover colunas
- 6. Realizar consultas
- 7. Ordenaar itens
- 8. Combinar e concatenar dataframes
- 9. Salvar Dataframes
---

#### `1. Entender as fun√ß√µes b√°sicas`

- **head():** Visualiza as primeiras `n` linhas de um dataframe. Por padr√£o, retorna as cinco primeiras linhas.
- **tail():** Visualiza as √∫ltimas n linhas de um dataframe. Por padr√£o, retorna as cinco √∫ltimas linha
- **shape:** Retorna o n√∫mero de linhas e colunas do dataframe.
- **info():** Retorna √≠ndices, colunas, contagem de c√©lulas n√£o nulas, tipo de dado e mem√≥ria usada pelo dataframe.
- **columns:** Mostra todas as colunas do datafram.
- **count():** Conta as c√©lulas preenchidas em cada coluna do dataframes.
- **describe():** Retorna estat√≠sticas descritivas sobre as colunas do dataframe, como m√©dia, percentis, desvio padr√£o e mediana (percentil 50%).

#### `2. Utilizar as fun√ß√µes b√°sicas`

In [3]:
# Importa a biblioteca pandas e define o alias 'pd'
import pandas as pd

In [4]:
# Importando o arquivo controlegastos.csv e armazenando seu conte√∫do no dataframe 'df'.
url = "dataset/controlegastos.csv"
df = pd.read_csv(url)

In [5]:
# Visualiza as primeiras 10 linhas do DataFrame
df.head(10)

                    data;hora;gasto;descricao;tipo;
0  25/07/2024;17:19;10;cachorro quente;alimentacao;
1       24/07/2024;16:00;15;energetico;alimentacao;
2   24/07/2024;07:20;11;lanche escolar;alimentacao;
3     25/07/2024;19:00;150;mouse gamer;informatica;
4              24/07/2024;22:00;250;cinemark;lazer;
5          23/07/2024;13:45;20;sorvete;alimentacao;
6          22/07/2024;18:30;50;gasolina;transporte;
7               21/07/2024;09:15;30;livro;educacao;
8            21/07/2024;20:00;40;pizza;alimentacao;
9                 20/07/2024;14:00;60;parque;lazer;

In [7]:
# Visualiza as √∫ltimas 15 linhas do DataFrame
df.tail(15)

                     data;hora;gasto;descricao;tipo;
164                15/02/2024;11:00;60;cinema;lazer;
165            14/02/2024;19:00;75;jogo;informatica;
166          13/02/2024;09:00;15;mochila;acessorios;
167            12/02/2024;17:00;35;revista;educacao;
168                  11/02/2024;10:00;50;show;lazer;
169              10/02/2024;20:00;60;livro;educacao;
170         09/02/2024;08:30;75;doceria;alimentacao;
171         08/02/2024;19:00;15;padaria;alimentacao;
172     07/02/2024;13:00;35;restaurante;alimentacao;
173           06/02/2024;11:00;50;livraria;educacao;
174            05/02/2024;17:00;22;caf√©;alimentacao;
175          04/02/2024;09:00;40;mochila;acessorios;
176                03/02/2024;19:00;60;cinema;lazer;
177            02/02/2024;14:00;75;jogo;informatica;
178  01/02/2024;10:00;100;cadeira gamer;informatica;

In [16]:
# Retorna o n√∫mero de linhas e colunas do DataFrame
df.shape

(179, 1)

In [13]:
# Retorna √≠ndices, colunas, contagem de c√©lulas n√£o nulas, tipo de dado e mem√≥ria usada pelo DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 1 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   data;hora;gasto;descricao;tipo;  179 non-null    object
dtypes: object(1)
memory usage: 1.5+ KB

In [14]:
# Mostra todas as colunas do DataFrame
df.columns

Index(['data;hora;gasto;descricao;tipo;'], dtype='object')

In [15]:
# Conta as c√©lulas preenchidas em cada coluna do DataFrame
df.count()

data;hora;gasto;descricao;tipo;    179
dtype: int64

In [18]:
# Retorna estat√≠sticas descritivas sobre as colunas do DataFrame
df.describe()

                         data;hora;gasto;descricao;tipo;
count                                                179
unique                                               179
top     25/07/2024;17:19;10;cachorro quente;alimentacao;
freq                                                   1

#### `3. Renomear Colunas`

#### `4. Selecionar colunas e linhas`

#### `5. Adicionar e remover colunas`

#### `6. Realizar consultas`

#### `7. Ordenar itens`

#### `8. Combinar e concatenar dataframes`

#### `9. Salvar Dataframes`